@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*,
*::before,
*::after {
  box-sizing: 0;
}

.html {
  font-family: "Roboto", sans-serif;
}
.all-content {
  margin: 61px auto;
  width: 1280px;
}

.logo {
  font-size: 80px;
  line-height: 94px;
  text-align: left;
  color: #000000;
  display: inline-block;
}
.logo-mda {
  color: #78d7ff;
}

.nav-menu-header-nav {
  margin-top: 38px;
}
.nav-menu-ul {
  background-color: #35444f;
  display: flex;
  justify-content: center;
}

.nav-menu-element {
  /* display: inline-block; */
  /* margin-left: 70px; */
  border-left: 1px solid #ffffff;
  padding-top: 26px;
  padding-bottom: 19px;
  padding-left: 40px;
  padding-right: 33px;
  transition: background-color 0.2s ease-in-out 0.1s;
}
.nav-menu-element:hover {
  background-color: #222f3a;
}
/* .nav-menu-ul li:first-child{
    margin-left: 162px;
    padding-left: 32px;
}
.nav-menu-ul li:last-child{
    padding-right: 300px;
    padding-left: 40px;
}
.nav-menu-ul li:nth-child(2){
    
    padding-left: 38px;
    padding-right: 37px;
}
.nav-menu-ul li:nth-child(3){
    
    padding-left: 40px;
    padding-right: 40px;
} */

.nav-menu-element-link {
  color: #ffffff;
}

/* центральный контент (левое меню, фото и описание) */

.main-content-center {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: flex-start;
  /* flex-direction: row; */
}
.left-menu {
  border: 1px solid #000000;
  width: 25%;
}
.left-menu-ul {
}

.left-menu-element {
  padding: 25px 0px 27px 44px;
  transition: background-color 0.3s ease-in-out 0.2s, padding-left 0.3s,
    color 0.3s;
}
.left-menu-element:hover {
  background-color: #dbdbdb;
  color: #35444f;
  padding-left: 60px;
}
.left-menu-element-link {
  color: #485863;
  font-size: 20px;
}

/* картинка и описание */
.image-container-description {
  width: 70%;
}
.image-container {
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 320px;
  height: 321px;
  transition: transform 0.4s ease-in-out 0.1s;
}
img:hover {
  transform: scale(1.2);
}
.description {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.paragraph-description {
  margin-top: 37px;
}
.description p:last-child {
  margin-top: 34px;
}

/* футер */
.nav-menu-footer {
  margin-top: 54px;
  padding-bottom: 30px;
}
.footer-nav {
  width: 100%;
}
.nav-footer-ul {
  background: #b5b7ba;
  width: 100%;
  display: flex;
}
.nav-footer-element {
  margin: 27px;
  /* padding-bottom: 4px; */
  transition: border-bottom 0.1s ease-in-out 0.1s;
}
.nav-footer-element:hover {
  text-decoration: underline;
  box-sizing: border-box;
}
.nav-footer-element:last-child:hover {
  text-decoration: none;
  box-sizing: border-box;
  color: #0c1927;
}
.nav-footer-element:last-child {
  color: #0c1927;
  font-size: 20px;
}
.nav-footer-ul li:last-child {
  margin-left: auto;
}
.nav-footer-link {
  color: #0c1927;
  font-size: 20px;
  transition: color 0.1s ease-in-out 0.1s;
}
.nav-footer-link:hover {
  color: #3181a6;
}
